﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.listeLivre {
    border: 1px solid #e6e3e5;
    margin: 16px auto;
    padding: 12px;
    box-shadow: 0px 2px 5px #afacac;
    text-align: center;
}

    .listeLivre h5 {
        font-weight: bold;
        font-size: 16px;
    }