﻿@model TP_3.Models.pret

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomUtilisateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomUtilisateur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.auteur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auteur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datePret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datePret)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateRetour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateRetour)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Prolonger le prêt", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("page précédente", "Index", new { username = Session["username"] })
</p>
