﻿@model TP_3.Models.livre

@{
    ViewBag.Title = "Delete";
}

<br />
<h3>êtes-vous sûr de vouloir supprimer le livre:  @Html.DisplayFor(model => model.nom) ?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.auteur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auteur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categorie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numImg)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Page précédente", "IndexList", "livres")
        </div>
    }
</div>
