﻿@model TP_3.Models.livre

@{
    ViewBag.Title = "Details";
}

<br /><br />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.auteur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auteur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categorie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numImg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.ISBN }) |
    @Html.ActionLink("Page précédente", "IndexList", "livres")
</p>
