﻿@model IEnumerable<TP_3.Models.livre>

@{
    ViewBag.Title = "Index";
}




<div class="container">
    <div class="row hidden-md-up">
        @{ foreach (var item in Model)
            {

                <div class="col-md-4 mb-4">
                    <div class="card listeLivre">
                        <img class="card-img-top" width="200px" height="280px" src="@item.numImg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@item.nom</h5>
                            <p class="card-text">par @item.auteur</p>
                            @Html.ActionLink("Emprunter", "Create", "prets", new { id = item.ISBN }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>



@{
    if (ViewBag.emprunter != null)
    {
        <div id="modalEmprunter" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Message</h4>
                    </div>
                    <div class="modal-body">
                        <p>@ViewBag.emprunter</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $('#modalEmprunter').modal('show')
        </script>
    }

    if (ViewBag.limite != null)
    {
        <div id="modalLimite" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Message</h4>
                    </div>
                    <div class="modal-body">
                        <p>@ViewBag.limite</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $('#modalLimite').modal('show')
        </script>
    }

    if (ViewBag.dejaEmprunter != null)
    {
        <div id="modaldejaEmprunter" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Message</h4>
                    </div>
                    <div class="modal-body">
                        <p>@ViewBag.dejaEmprunter</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $('#modaldejaEmprunter').modal('show')
        </script>
    }
}


