﻿@model IEnumerable<TP_3.Models.livre>
@{
    ViewBag.Title = "IndexList";
}

<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.auteur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categorie)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.auteur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categorie)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.ISBN }) |
                @Html.ActionLink("Details", "Details", new { id = item.ISBN }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.ISBN })
            </td>
        </tr>
    }
    <tfoot>
        <tr>
            <td>@Html.ActionLink("page précédente", "Admin", "Home", null, new { @class = "btn btn-warning" })</td>
        </tr>
    </tfoot>
</table>


@{

    if (ViewBag.MessModif != null)
    {
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Message</h4>
                    </div>
                    <div class="modal-body">
                        <p>@ViewBag.MessModif</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $('#myModal').modal('show')
        </script>
    }

    if (ViewBag.MessSupp != null)
    {
        <div id="MessSupp" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Message</h4>
                    </div>
                    <div class="modal-body">
                        <p>@ViewBag.MessSupp</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $('#MessSupp').modal('show')
        </script>
    }

}