﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @{ if (Session["username"] != null)
                    {
                        @Html.ActionLink("Ma Bibliothèque", "Index", "livres", new { categ = "all" }, new { @class = "navbar-brand" })
                    }
                    else
                    {
                        @Html.ActionLink("Ma Bibliothèque", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    }
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="dropdown">

                        <a href="#" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Catégories
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li>@Html.ActionLink("Enfants", "Index", "livres", new { categ = "Enfants" }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Jeunesses", "Index", "livres", new { categ = "Jeunesses" }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Adultes", "Index", "livres", new { categ = "Adultes" }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Tous les catégories", "Index", "livres", new { categ = "all" }, new { @class = "dropdown-item" })</li>
                        </ul>

                    </li>
                </ul>
                @if (Session["username"] != null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Mes prêts", "Index", "prets", new { username = Session["username"] }, null)</li>
                        <li>@Html.ActionLink("Gestion", "Admin", "Home")</li>
                        <li>@Html.ActionLink("se déconnecter", "SeDeconecter", "Home")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

</body>
</html>
