﻿@model TP_3.Models.retard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>retard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomUtilisateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomUtilisateur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.auteur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auteur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datePret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datePret)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateRetour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateRetour)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
