﻿@model IEnumerable<TP_3.Models.retard>

@{
    ViewBag.Title = "Index";
}

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomUtilisateur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.auteur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datePret)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateRetour)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomUtilisateur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.auteur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datePret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateRetour)
            </td>
            <td>
            </td>
        </tr>
    }
    <tfoot>
        <tr>
            <td>@Html.ActionLink("page précédente", "Admin", "Home", null, new { @class = "btn btn-warning" })</td>
        </tr>
    </tfoot>

</table>
