﻿
@{
    ViewBag.Title = "Admin";
}

<h2>Gestion des tables de données</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Tables de données</th>
            <th scope="col"></th>
            <th scope="col" width="50%">Gestions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Prêts</th>
            <td>@Html.ActionLink("Lister", "IndexGestion", "prets")</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Retards</th>
            <td>@Html.ActionLink("Lister", "Create", "retards")</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Membres</th>
            <td>@Html.ActionLink("Lister + Modifier + Supprimer", "Index", "membres")</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Livres</th>
            <td>@Html.ActionLink("Lister + Modifier + Supprimer", "IndexList", "livres", new { }, null)</td>
            <td>@Html.ActionLink("Ajouter", "Create", "livres")</td>
        </tr>
    </tbody>
</table>

@{
    
    if (ViewBag.MessAjoutLivre != null)
    {
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Message</h4>
                    </div>
                    <div class="modal-body">
                        <p>@ViewBag.MessAjoutLivre</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $('#myModal').modal('show')
        </script>
    }
    
    }

