﻿@{
    ViewBag.Title = "Home Page";
}
<div id="headerImage">
    <h1>Bienvenue à votre bibliothèque virtuel</h1>
</div>

<h3>Connectez-vous</h3>

<form method="post" name="formSeConnecter" action="@Url.Action("Index", "Home")">
    <div class="form-group">
        <label for="exampleInputusername">Nom d'utilisateur</label>
        <input type="text" name="nomUtilisateur" class="form-control" id="exampleInputusername" placeholder="nom d'utilisateur">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Mot de passe</label>
        <input type="password" name="mdp" class="form-control" id="exampleInputPassword1" placeholder="mot de passe">
    </div>
    <button type="submit" class="btn btn-primary" onclick="formSeConnecter.submit();">se connecter</button><br /><br />
    <a href="/membres/Create">Vous n'êtes pas membre? Devenez-le maintenant.</a>
</form>


@{
    if (ViewBag.Error != null)
    {
        <div id="Error" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Message</h4>
                    </div>
                    <div class="modal-body">
                        <p>@ViewBag.Error</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $('#Error').modal('show')
        </script>
    }
}
